__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
.pytest_cache/
.DS_Store

data/daily/*
data/weekly/*
data/monthly/*
data/logs/*
data/master/*
data/qa/*
!data/daily/.gitkeep
!data/weekly/.gitkeep
!data/monthly/.gitkeep
!data/logs/.gitkeep
!data/master/.gitkeep
!data/qa/.gitkeep
data/raw_archive/*
!data/raw_archive/.gitkeep
